
:root{
    --primary-color: #E95A08;
}
.primary-color{
    color: var(--primary-color);
}
.container{
    width: 1140px;
    margin: auto;
}
.dark-1{
    color: #8987A1;;
} 
.dark-2{
    color: rgba(0, 0, 0, 0.5);
} 
/* navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
nav ul{
    display: flex;
    font-family: "Poppins", sans-serif;
    gap: 48px;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* banner related styles */
.banner{
    display: flex;
    align-items: center;
}
.banner-title{
    font-family: "Noto Serif", serif;
    font-size: 4rem;
    font-weight: 700px;
    margin-bottom: 0;
}
.banner-description{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    max-width: 570px;
}
.plants{
    text-align: center;
    margin-top: 120px;
}
.plants-title{
    font-family: "Noto Serif", serif;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.plants-description{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    max-width: 888px;
    margin: 0 auto;
}
/* card image styles */
.card-container{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 49px;
}

.card-title{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}
.price{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
.card{
    max-width: 270px;
}
.btn-primary{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--primary-color);
    border: none;
    padding: 19px 80px;
    color: white;
    width: 270px;
}
/* seller */
.flower-plant-container{
    display: flex;
    align-items: center;
    margin-top: 200px;
    gap: 60px;
}
.content-title{
    font-family: "Noto Serif", serif;
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 0;
}
.content-description{
    font-family: "Inter", sans-serif;
    max-width: 540px;
    font-size: 1.3rem;
       
}
.flower-image{
    position: relative;
}
.badge{
    position: absolute;
    left: 38%;
    top: 225%;
    
    margin-top: -100px;
    margin-right: -100px;
    
    width: 286px;
    height: 286px;
}
/* deals related style */
.deals{
    text-align: center;
    max-width: 888px;
    margin: 100px auto;
}
.deals-title{
    font-family: "Noto Serif", serif;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 0;
}
.deals-description{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

.bg{
    background-color: aqua;
}
.sell-shop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}
.sell-shop-left{
    max-width: 367px;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
    height: 201px;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    color: white;
    margin-bottom: 0;
    margin-left: 0;
}
.sell-shop-bottom{
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
    max-width: 361px;
    height: 201px;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    color: white;
    margin-top: 20px;
}
.sell-title{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.shop-btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}
.sell-shop-right{
    max-width: 200%;
    height: 423px;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
    
    margin-left: 0;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
    color: white;
    border-radius: 15px;
}
.bunch-form{
    text-align: center;
    max-width: 1440px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    height: 533px;
    
    margin: 120px auto;
    align-content: center;
    
}
.bunch-title{
    font-family: "Noto Serif", serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
}
input{
    height: 49px;
   padding-left: 20px;
}
.email-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe{
    width: 186px;
    height: 50px;
    align-content: center;
    padding: 12px 53px;
}
.footer-contaner{
    margin-top: 50px;
    display: flex;
    gap: 100px;
}
.list-container{
    display: flex;
    gap: 90px;
}
.lists{
    display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 50px;
   font-family: "Inter", sans-serif;
   font-size: 1rem;
}
  .lists a{
    text-decoration: none;
  }

  .lists-another{
    display: flex;
    flex-direction: column;
    list-style: none;
     line-height: 50px;
   font-family: "Inter", sans-serif;
   font-size: 1rem;
  }
  .lists-another li a{
    text-decoration: none;
  }
.logo-description{
     font-family: "Inter", sans-serif;
     font-size: 1.3rem;
     max-width: 359px;
}



@media screen and (max-width: 576px) {
    nav{
      max-width: 361px;
      align-items: center;
    }
    nav img{
        width: 63px;
        
        margin-left: 10px;
    }
    nav .cart{
        margin-right: 10px;
        
    }
    nav ul .nav-bar{
        display: none;
       }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        margin: auto;
    }
   .banner img{
    max-width: 393px;
    margin-right: 0;
   }
   .banner-title, .banner-description{
    margin-left: 10px;
   }
   .plants{
    margin-top: 60px ;
    max-width: 393px;
   
   }
   .plants-description{  
   max-width: 336px; 
   margin-left: 10px;  
   text-align: center;    
   }  
.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: auto;
    gap: 20px;
    margin: auto;   
}
.card-image-container{
    max-width: 362px;
}
.card img, .btn-primary{
    max-width: 171px;
}
.btn-primary{
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 30px;
}
.flower-plant-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 41px auto;
}
.flower-image, .flower-plants-content{
    max-width: 358px;
    margin: 0 auto;
}
.badge{
    display: none;
}
.deals{
    margin-top: 100px;
}
.deals-title{
    font-size: 1.5rem;
}
.deals-description{
    font-size: 1rem;
    max-width: 336px;
    margin: 16px auto;
}
.sell-shop{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  justify-items: center;

    max-width: 100%;
    gap: 20px;
    
}
.sell-shop-right, .sell-conten{
    max-width: 361px;
    max-height: 172px;
   
}
.bunch-class{
    margin-left: 25px;
}
.bunch-form{
    max-width: 393px;

    max-height: 172px;
    margin-top: 40px;
    margin-left: 9px;
}
.bunch-class{
    max-width: 321px;
}
.email-btn{
    max-width: 321px;
    margin: auto;
}
.bunch-title{
    font-size: 1.2rem;
}
input{
    max-width: 200px;
    height: 46px;
    margin-left: 16px;
}
.subscribe{
    max-width: 103px;
    
}
.subscribe{
    font-size: 0.7rem;
}
.footer-contaner{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.list-container{
    display: flex;
    flex-direction: column;
}
.logo-description {
    max-width: 359px;
    font-size: 1rem;
}
}